.portfolio-card {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    text-align: center;

    &:hover {
        background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
        border-radius: 4px;
    }
    &:hover .portfolio-card-content {
        visibility: visible;   
    }
}

.portfolio-card-content {
    visibility: hidden;
}