.portfolio-card {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
        background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
        border-radius: 4px;
    }
    &:hover .portfolio-card-content {
        visibility: visible;   
    }
    a {
        &:hover {
            color: white;
        }
    }
}

.portfolio-card-content {
    font-size: .5em;
    visibility: hidden;
    a:hover {
       text-decoration: none; 
    }
}